<div class="container">
    <div class="img-container">
        <img class="img-slaider-city" src="assets/static/city-1.jpg" alt="car-1">
        <p class="img-city-text">City slide 1</p>
        <img class="img-slaider-city" src="assets/static/city-2.jpg" alt="car-2">
        <p class="img-city-text">City slide 2</p>
        <img class="img-slaider-city" src="assets/static/city-3.jpg" alt="car-3">
        <p class="img-city-text">City slide 3</p>
        <img class="img-slaider-city" src="assets/static/city-4.jpg" alt="car-4">
        <p class="img-city-text">City slide 4</p>
        <img class="img-slaider-city" src="assets/static/city-5.jpg" alt="car-5">
        <p class="img-city-text">City slide 5</p>
    </div>
    <div class="sub-container">
        <materialize-button (click)="prevImg()">left</materialize-button>
        <materialize-button (click)="nextImg()">right</materialize-button>
    </div>
</div>