$materialize-fonts-path: '~materialize-angular/fonts';
 
@import '~materialize-angular/styles/materialize-angular.scss';

.container{
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    .sub-container{
        height: 100px;
        margin-top: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .img-container{
        position: relative;
        img{
            position: absolute;
            top: 0;
            max-width: 600px;
            min-width: 600px;
            max-height: 350px;
            min-height: 350px;
            width: 100%;
            height: 100%;
        }

        .hide-img-nature{
            transition: all .7s;
            opacity: 0;
        }

        .show-img-nature{
            transition: all .7s;
            opacity: 1;
        }

        .img-car-text{
            top: 300px;
            color: #fff;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        .show-img-text{
            opacity: 1;
            transition: all .7s;
        }
        .hide-img-text{
            opacity: 0;
            transition: all .7s;
        }
    }
}